.careerHeadline{
    margin: 0 auto;
    padding: 1.2rem 2.4rem;
    border-radius: 2.4rem 0;
    color: var(--White, #fff);
    background-color: #c64227;
    border-bottom: 0.8rem solid #d8b08a;
    margin-top: 5rem;
    margin-bottom: 8.4rem;
}

.careerH1{
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    color: white;
    line-height: 84.43px;
    text-transform: uppercase;
}

.h5{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 38.13px;
    padding-bottom: 1.6rem;
  }

.h4Career{
    color: #c64227;
}

.positionCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.6rem;
}

.positionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* zarovná horný a spodný obsah */
  min-height: 67rem; /* namiesto fixnej výšky */
  border-radius: 16px;
  padding: 2.4rem;
  box-shadow: 0px 4px 74px 0px rgba(0, 0, 0, 0.15);
}

.position{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-bottom: 0.1rem solid #d2d2d2;
    padding-bottom: 2.4rem;
}

.benefits{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2.4rem 0;
}

.benefit{
    display: flex;
    gap: 0.5rem;
}

.btnCareer{
    font-size: 1.8rem;
    line-height: 24.51px;
    font-weight: 700;
}

.careerContact{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 6rem 0;
}

.h3Career{
    padding-bottom: 1.2rem;
}

.linkCareer{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 29.96px;
    color: #c64227;
    text-decoration: none;
    
}
