@media (max-width: 96em) {
  /*1248 px*/

  .imgDoctor1 {
    right: -20rem;
  }
}

@media (max-width: 78em) {
  /*1248 px*/

  .imgDoctor1 {
    width: 92rem;
    right: 0;
    top: 0rem;
  }

  .heroSection {
    padding-top: 32rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .benefitCard {
    width: 100%;
  }

  .strategyContent {
    width: 100%;
    gap: 6rem;
  }

  .strategyCards {
    width: 100%;
  }

  .strategyCard {
    width: 100%;
  }

  .imgDoctor2 {
    width: 100%;
  }

  .lineHorizontal {
    width: 100%;
  }

  .processSection {
    width: 70rem;
  }

  .processMonth {
    width: 100%;
  }

  .pLarge {
    width: 100%;
  }

  /*************************/
  /* Career */
  /*************************/

  .positionCard{
    height: max-content;
  }
}

@media (max-width: 65em) {
  /*1040 px*/

  .imgDoctor1 {
    width: 110rem;
    left: -6rem;
    top: -10rem;
  }

  .heroSection {
    padding-top: 32rem;
  }

  .claim {
    display: none;
  }

  .lineVertical {
    display: none;
  }

  .logoMobileNav {
    width: 13rem;
  }

  /*******Mobile Navigation********/

  .closeIcon {
    display: unset;
  }

  .menuIcon {
    display: unset;
  }

  .headerLogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mainNav {
    border-radius: 28px;
    padding: 2rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23rem;
    box-shadow: 0px 4px 74px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mainNavList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .logoMobileNav {
    display: unset;
    z-index: 2;
  }

  .mobileNavTop {
    display: flex;
    justify-content: space-between;
  }

  .navOpen .mainNav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    height: auto;
  }

  .mainNavLink,
  .mainNavLink:visited,
  .mainNavLink:link {
    z-index: 2;
  }
}

@media (max-width: 56em) {
  /*896 px*/

  .btnSwitch {
    max-width: 100%;
    display: flex;
  }

  .btnSwitchRed {
    width: 50%;
  }
  .btnSwitchBeige {
    width: 50%;
  }

  header {
    position: relative;
    padding-top: 1.8rem;
  }
}

@media (max-width: 50em) {
  /*800 px*/

  .imgDoctor1 {
    width: 100rem;
    left: -15rem;
  }

  .heroSection {
    padding-top: 32rem;
  }

  .strategyContent {
    flex-direction: column;
  }
  .processSection {
    width: 100%;
  }

  .benefitsP {
    width: 100%;
  }

  .benefitCards {
    grid-template-columns: 1fr 1fr;
  }

  .stepCards {
    flex-direction: column;
  }

  .stepCard {
    text-align: left;
    align-items: flex-start;
    width: 100%;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3.6rem;
  }

  /*************************/
  /* Career */
  /*************************/

  .careerHeadline{
    margin: 3.2rem 0;
  }

  .positionCards{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

.careerContact{
  padding:  3.2rem 1.2rem;
}


}

@media (max-width: 32em) {
  /*512 px*/

  /*************************/
  /* Fonts for mobile*/
  /*************************/

  .p {
    font-size: 1.6rem;
    line-height: 21.33px;
  }

  .pSmall {
    font-size: 1.4rem;
    line-height: 16.8px;
  }

  .pLarge {
    font-size: 1.8rem;
    line-height: 21.6px;
  }

  .btn {
    font-size: 1.8rem;
    line-height: 21.6px;
  }

  .h1 {
    font-size: 4.2rem;
    line-height: 50.4px;
  }

  .h2 {
    font-size: 2.8rem;
    line-height: 33.6px;
  }

  .h3 {
    font-size: 2.8rem;
    line-height: 33.6px;
  }

  .h4 {
    font-size: 1.8rem;
    line-height: 21.6px;
  }

  .number {
    font-size: 3.6rem;
    line-height: 43.2px;
  }

  .mainNavLink {
    font-size: 1.6rem;
  }

/*************************/
  /* Career */
  /*************************/


  .careerH1{
    font-size: 4.2rem;
    line-height: 57.2px;
}

.h5{
  font-size: 2.2rem;
  line-height: 29.96px;
}

.linkCareer{
  font-size: 1.8rem;
  line-height: 24.51px;
}
  /*************************/

  /*512 px*/

  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .imgDoctor1 {
    width: 65rem;
    top: 0rem;
    left: -8rem;
  }

  .logo {
    width: 13rem;
  }

  .header {
    padding: 1.2rem 1.6rem;
  }

  .headerLogo {
    height: 3rem;
  }

  .heroBtn {
    flex-direction: column;
  }

  .heroSection {
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3.6rem;
  }

  .benefitsSection {
    padding: 3.2rem 0rem;
  }

  .strategyContent {
    padding: 3.2rem 0;
    gap: 3.6rem;
  }

  .stepsSection {
    padding: 3.2rem 0;
  }

  .processSection {
    padding: 3.2rem 0;
  }

  .benefitsHeadline {
    text-align: left;
  }

  .benefitCards {
    grid-template-columns: 1fr;
  }

  .benefitsP {
    text-align: left;
  }

  .benefitCard {
    text-align: left;
    align-items: flex-start;
  }

  .sellHeadline {
    text-align: left;
    margin-left: 2rem;
  }

  .newHeadline {
    text-align: left;
    margin-left: 2rem;
  }

  .processMonth {
    gap: 1.2rem;
  }
}
