/*************************/
/* HEADER */
/*************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 3.6rem;
  box-shadow: 0px 4px 74px 0px rgba(0, 0, 0, 0.15);
  border-radius: 90px;
  background-color: white;
  margin-top: 1.8rem;
}

.headerLogo{
  height: 5rem;
}

.lineVertical {
  width: 0.1rem;
  height: 2rem;
  background-color: #d2d2d2;
}

.claim {
  color: #a4a4a4 !important;
}

.mainNavList {
  display: flex;
  gap: 3.6rem;
  list-style: none;
  cursor: pointer;
}

.mainNavLink,
.mainNavlink:link,
.mainNavLink:visited {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--Red, #c64227);
  font-weight: 700;
  transition: all 0.3s ease;
}

.mainNavLink:hover,
.mainNavLink:active {
  color: #9e351f;
}

.btnMobileNav {
  border: none;
  background: none;
  cursor: pointer;
}

.btnMobileNav2 {
  border: none;
  background: none;
  cursor: pointer;
}

.menuIcon {
  display: none;
}

.closeIcon {
  display: none;
}

.logoMobileNav {
  display: none;
}

.headerClaim {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.mobileNavTop {
  display: none;
}

/*************************/
/* HERO SECTION*/
/*************************/

.heroSection {
  height: 54rem;
  padding-top: 18rem;
  position: relative;
}

.heroBtn {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.imgDoctor1 {
  position: absolute;
  width: 110rem;
  top: 0rem;
  right: -7rem;
  z-index: -1;
  overflow: auto;
}

/*************************/
/* BENEFITS SECTION*/
/*************************/

.benefitsSection {
  padding: 6rem 0;
  background-color: #f1f1f2;
}

.benefitsHeadline {
  color: #c64227;
  margin-bottom: 2.7rem;
}

.benefitsP {
  margin: 0 auto;
  width: 70rem;
}

.benefitCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.benefitCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  width: 38.4rem;
}

/*************************/
/* STRATEGY SECTION*/
/*************************/

.strategyContent {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
  width: 120rem;
}

.imgDoctor2 {
  width: 61rem;
}

.strategyCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 52rem;
}

.lineHorizontal {
  background-color: #d2d2d2;
  width: 52rem;
  height: 0.1rem;
  margin: 3.6rem 0rem;
}

.missionHeadline {
  color: #c64227;
}

.visionHeadline {
  color: #d8b08a;
}

/*************************/
/* STEPS SECTION*/
/*************************/

.stepsSection {
  padding: 6rem 0;
  background-color: #f1f1f2;
}

.btnSwitch {
  background-color: white;
  padding: 0.4rem;
  width: 86rem;
  border-radius: 2.4rem 0;
  margin: 0 auto;
}

.btnSwitchBeige,
.btnSwitchBeige:link,
.btnSwitchBeige:visited {
  width: 42.4rem;
  background-color: white;
  color: #d8b08a;
}

.btnSwitchBeige:hover,
.btnSwitchBeige:active {
  background-color: #d8b08a;
  color: var(--White, #fff);
}

.btnSwitchRed,
.btnSwitchRed:link,
.btnSwitchRed:visited {
  width: 42.4rem;
  background-color: white;
  color: #c64227;
}

.btnSwitchRed:hover,
.btnSwitchRed:active {
  background-color: #c64227;
  color: var(--White, #fff);
}

.stepCards {
  display: flex;
  gap: 2.4rem;
  margin-top: 6rem;
}

.stepCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40rem;
  gap: 0.8rem;
}

/*************************/
/* PROCESS SECTION*/
/*************************/

.processSection {
  width: 80rem;
  padding: 7rem 0;
  margin: 0 auto;
}

.sellHeadline {
  color: #d8b08a;
  margin-bottom: 3.6rem;
}
.newHeadline {
  color: #c64227;
  margin-bottom: 3.6rem;
}

.processMonth {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 80rem;
}

.icon {
  padding: 1.6rem;
  border-radius: 80px;
}

.icon0 {
  border: 0.3rem solid #edeae2;
}

.icon1 {
  border: 0.3rem solid #e8dbc7;
}

.icon2 {
  border: 0.3rem solid #d8b08a;
}

.icon3 {
  border: 0.3rem solid #d4815d;
}

.icon4 {
  border: 0.3rem solid #c64227;
}

.icon5 {
  border: 0.3rem solid #a22f22;
}

.lineProcess {
  height: 7rem;
  width: 1.239rem;
}

.lineProcess0 {
  background: linear-gradient(to bottom, #edeae2, #e8dbc7);
  box-shadow: 0px -2px 0px #edeae2, 0px 2px 0px #e8dbc7;
}

.lineProcess1 {
  background: linear-gradient(to bottom, #edeae2, #d8b08a);
  box-shadow: 0px -2px 0px #edeae2, 0px 2px 0px #d8b08a;
}

.lineProcess2 {
  background: linear-gradient(to bottom, #d8b08a, #d4815d);
  box-shadow: 0px -2px 0px #d8b08a, 0px 2px 0px #d4815d;
}

.lineProcess3 {
  background: linear-gradient(to bottom, #d4815d, #c64227);
  box-shadow: 0px -2px 0px#D4815D, 0px 2px 0px #c64227;
}

.lineProcess4 {
  background: linear-gradient(to bottom, #c64227, #a22f22);
  box-shadow: 0px -2px 0px #c64227, 0px 2px 0px #a22f22;
}

.lineLenght1 {
  height: 17rem;
}

.lineLenght2 {
  height: 22rem;
}

.lineLenght4 {
  height: 10rem;
}

.processDescription {
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
  margin-left: 1.8rem;
  gap: 0.6rem;
}

.circleLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticker {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 14.4px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 1.6rem;
  border: none;
  border-radius: 0rem 1.2rem;
}

.sticker1 {
  background-color: #edeae2;
  color: var(--Black, #2b0806);
}
.sticker2 {
  background-color: #d8b08a;
}
.sticker3 {
  background-color: #d4815d;
}
.sticker4 {
  background-color: #c64227;
}
.sticker5 {
  background-color: #a22f22;
}

.pLarge {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 28.8px;
  margin-top: 0.7rem;
  width: 72rem;
}

/*************************/
/* FOOTER SECTION*/
/*************************/

.footer {
  background-color: #d8b08a;
  font-size: 1.6rem;
}

.footerHeadline{
  font-size: 2rem;
  color: white;
}

.pFooter{
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 27.24px;
  color: white;
}

.footerBox{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footerContact {
  text-decoration: none;
  color: var(--White, #fff);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 27.24px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0;
}

.footerLink {
  display: flex;
  gap: 0.8rem;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  padding: 1.6rem 0;
}

/*************************/
/* TOOGLE SECTION*/
/*************************/

#want-new {
  display: none;
}

#want-sell {
  display: block;
}
